# Formative Assignment: Advanced Linear Algebra (PCA)
This notebook will guide you through the implementation of Principal Component Analysis (PCA). Fill in the missing code and provide the required answers in the appropriate sections. You will work with a dataset that is Africanized .

Make sure to display outputs for each code cell when submitting.

### Step 1: Load and Standardize the Data
Before applying PCA, we must standardize the dataset. Standardization ensures that all features have a mean of 0 and a standard deviation of 1, which is essential for PCA.
Fill in the code to standardize the dataset.

STRICTLY - Write code that implements standardization based on the image below

<img src=''/>

Emmanuel Kwizera

In [9]:
# import the packages
%pip install numpy pandas matplotlib
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Requirement already satisfied: numpy in c:\users\elohome ltd\appdata\local\programs\python\python313\lib\site-packages (2.3.0)
Requirement already satisfied: pandas in c:\users\elohome ltd\appdata\local\programs\python\python313\lib\site-packages (2.3.0)
Requirement already satisfied: matplotlib in c:\users\elohome ltd\appdata\local\programs\python\python313\lib\site-packages (3.10.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\elohome ltd\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\elohome ltd\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\elohome ltd\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\elohome ltd\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\elohome ltd\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\elohome ltd\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (4.58.2)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\elohome ltd\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\elohome ltd\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\elohome ltd\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\elohome ltd\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: six>=1.5 in c:\users\elohome ltd\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [10]:
# get the dataset before Standardizing it
dataset = pd.read_csv("SouthAfricaCrimeStats.csv")
dataset.head(5)

,Province,Station,Category,2005-2006,2006-2007,2007-2008,2008-2009,2009-2010,2010-2011,2011-2012,2012-2013,2013-2014,2014-2015,2015-2016
0,Western Cape,Cape Town Central,All theft not mentioned elsewhere,6692,6341,5966,5187,4985,5127,5285,5937,5600,5335,5176
1,Gauteng,Jhb Central,All theft not mentioned elsewhere,6093,4602,3761,3610,3267,3037,2886,2638,2809,3050,2434
2,Western Cape,Mitchells Plain,All theft not mentioned elsewhere,5341,6093,6316,6803,6035,5761,6108,5514,4975,4043,3635
3,Free State,Park Road,All theft not mentioned elsewhere,5108,4282,3834,3316,3101,3013,2679,3116,2927,2297,2103
4,Gauteng,Pretoria Central,All theft not mentioned elsewhere,5099,4536,3309,2694,2616,2606,2635,3226,3246,2892,3030

In [11]:
standardized_data = None
provinces = dataset['Province'].unique().tolist()
stations = dataset['Station'].unique().tolist()
categories = dataset['Category'].unique().tolist()

categories

['All theft not mentioned elsewhere',
 'Theft out of or from motor vehicle',
 'Drug-related crime',
 'Robbery with aggravating circumstances',
 'Common assault',
 'Commercial crime',
 'Burglary at residential premises',
 'Assault with the intent to inflict grievous bodily harm',
 'Theft of motor vehicle and motorcycle',
 'Shoplifting',
 'Malicious damage to property',
 'Common robbery',
 'Burglary at non-residential premises',
 'Sexual Offences',
 'Driving under the influence of alcohol or drugs',
 'Stock-theft',
 'Attempted murder',
 'Carjacking',
 'Robbery at non-residential premises',
 'Robbery at residential premises',
 'Murder',
 'Illegal possession of firearms and ammunition',
 'Arson',
 'Truck hijacking',
 'Robbery of cash in transit',
 'Bank robbery',
 'Sexual offences as result of police action']

In [12]:
# function to help with convert categorical columns: Category, Station and Province
def convert(array):
    contented = {}
    for indx,val in enumerate(array):
        contented[val] = indx
    return contented
converted_provinces = convert(provinces)
converted_categories = convert(categories)
# print(f"Provinces converted by their indexs {converted_provinces}")
# print(f"Categories converted by their indexs {converted_categories}")

converted_provinces

{'Western Cape': 0,
 'Gauteng': 1,
 'Free State': 2,
 'North West': 3,
 'Kwazulu/Natal': 4,
 'Mpumalanga': 5,
 'Eastern Cape': 6,
 'Limpopo': 7,
 'Northern Cape': 8}

In [13]:
dataset['Province'] = dataset['Province'].map(convert(provinces))
dataset['Station'] = dataset['Station'].map(convert(stations))
dataset['Category'] = dataset['Category'].map(convert(categories))
dataset.head()

,Province,Station,Category,2005-2006,2006-2007,2007-2008,2008-2009,2009-2010,2010-2011,2011-2012,2012-2013,2013-2014,2014-2015,2015-2016
0,0,0,0,6692,6341,5966,5187,4985,5127,5285,5937,5600,5335,5176
1,1,1,0,6093,4602,3761,3610,3267,3037,2886,2638,2809,3050,2434
2,0,2,0,5341,6093,6316,6803,6035,5761,6108,5514,4975,4043,3635
3,2,3,0,5108,4282,3834,3316,3101,3013,2679,3116,2927,2297,2103
4,1,4,0,5099,4536,3309,2694,2616,2606,2635,3226,3246,2892,3030

In [14]:
# Step 1: Load and Standardize the data (use of numpy only allowed)
standardized_data = (dataset - np.mean(dataset, axis=0)) / np.std(dataset, axis=0)  # Do not use sklearn (Data - Data Mean)/ Data's Standard Deviation
standardized_data[:5]  # Display the first few rows of standardized data

,Province,Station,Category,2005-2006,2006-2007,2007-2008,2008-2009,2009-2010,2010-2011,2011-2012,2012-2013,2013-2014,2014-2015,2015-2016
0,-1.506672,-1.730536,-1.669046,32.223100,31.669738,31.585592,27.345308,26.496895,27.818936,28.455232,31.747836,29.465006,28.448893,28.463612
1,-1.113492,-1.727505,-1.669046,29.308093,22.888436,19.778836,18.919849,17.236020,16.326765,15.369647,13.897015,14.590158,16.098613,13.176012
2,-1.506672,-1.724475,-1.669046,25.648519,30.417430,33.459680,35.979132,32.156917,31.305078,32.944368,29.458992,26.134021,21.465715,19.872003
3,-0.720313,-1.721444,-1.669046,24.514634,21.272556,20.169717,17.349092,16.341198,16.194797,14.240545,16.483463,15.219048,12.028696,11.330573
4,-1.113492,-1.718413,-1.669046,24.470836,22.555161,17.358585,14.025924,13.726806,13.956848,14.000542,17.078671,16.919183,15.244633,16.498919

### Step 3: Calculate the Covariance Matrix
The covariance matrix helps us understand how the features are related to each other. It is a key component in PCA.

In [15]:
# Step 3: Calculate the Covariance Matrix
cov_matrix = None  # Calculate covariance matrix
cov_matrix

### Step 4: Perform Eigendecomposition
Eigendecomposition of the covariance matrix will give us the eigenvalues and eigenvectors, which are essential for PCA.
Fill in the code to compute the eigenvalues and eigenvectors of the covariance matrix.

In [ ]:
# Step 4: Perform Eigendecomposition
eigenvalues, eigenvectors = None  # Perform eigendecomposition
eigenvalues, eigenvectors

### Step 5: Sort Principal Components
Sort the eigenvectors based on their corresponding eigenvalues in descending order. The higher the eigenvalue, the more important the eigenvector.
Complete the code to sort the eigenvectors and print the sorted components.

<a url ='https://www.youtube.com/watch?v=vaF-1xUEXsA&t=17s'>How Is Explained Variance Used In PCA?'<a/>

In [ ]:
# Step 5: Sort Principal Components
sorted_indices = None  # Sort eigenvalues in descending order
sorted_eigenvectors = None  # Sort eigenvectors accordingly
sorted_eigenvectors

### Step 6: Project Data onto Principal Components
Now that we’ve selected the number of components, we will project the original data onto the chosen principal components.
Fill in the code to perform the projection.

In [ ]:
# Step 6: Project Data onto Principal Components
num_components = None  # Decide on the number of principal components to keep
reduced_data = None  # Project data onto the principal components
reduced_data[:5]

### Step 7: Output the Reduced Data
Finally, display the reduced data obtained by projecting the original dataset onto the selected principal components.

In [ ]:
# Step 7: Output the Reduced Data
print(f'Reduced Data Shape: {reduced_data.shape}')  # Display reduced data shape
reduced_data[:5]  # Display the first few rows of reduced data

### Step 8: Visualize Before and After PCA
Now, let's plot the original data and the data after PCA to compare the reduction in dimensions visually.

In [ ]:
# Step 8: Visualize Before and After PCA


# Plot original data (first two features for simplicity)


# Plot reduced data after PCA